<!DOCTYPE html>
<html lang="en">
<head>
{{>headerLinks}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.png" alt="404 image" class="img-fluid" title="sam">
                        </figure>
                        <p>something went wrong</p>
                        <h1>oops! page not found</h1>
                        <a href="/"><button class="btn btn-warning btn-lg">Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>