<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/sam.jpg" alt="sam_image" title="sam" class="img-fluid"  style="height: 70rem; margin-top: 1rem ">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_right">
                        <p>my name is sampii</p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer</span></h1>
                        <a href="https://github.com/sampath1118" target="blank"><button class="btn btn-success btn-lg">About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by sampii
        </p>
    </footer>
</body>

</html>